.App {
  text-align: center;
}

.choices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.choice {
  cursor: pointer;
  font-size: 3rem;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.choice:hover {
  background-color: lightgray;
}

.score {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.scoreBoard {
  display: flex;
  justify-content: space-around;
}

.scoreBoards {
  margin: 5px;
}
